@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body{
    font-family: 'Inconsolata', monospace;
    min-height: 400px;
    background-image: url('https://www.alura.com.br/assets/img/imersoes/dev-2021/dias-1-conversor-de-moedas.png');
    background-color: #000;
    background-position: center bottom;
    background-repeat: no-repeat;
}
button{
  font-size: 20px;
  margin-top: 15px;
}
#msg{
  color: #fff;
  text-align: center;
  margin-top: 15px;
  font-size: 35px;
}
    
.container{
    text-align: center;
    padding: 20px;
    height: 97vh;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right:10px;
  }
  .bg {
      margin-top: -450px;
      align-items: center;
      text-align: center;
  }
  a{
    text-decoration: none;
    color: #fff;
  }
  footer{
    padding: 50px;
    text-align: center;
    color: white;
  }